
h1{
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: inline-block;
    width: 150px;
}

.input-group input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

