
h1{
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 10px #37b62e;
}
input{
    border-radius: 30px;
    box-shadow: 0 0 10px #37b62e;
}
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: inline-block;
    width: 150px;
}

.input-group input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 0 15px #37b62e;
}
button:hover {
    background-color: #c1a4c7;
}

